.spotify-auth-btn {
  transition-duration: 300ms;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  background-color: #1db954;
  color: #fff;
  color: black;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  border: none;
  font-size: larger;
  border-radius: 10px;
}


.login {
  text-align: center;
}