.player {
  /* justify-content: center; */
/*   text-align: center;
  display: inline-block; */
  /*transform: translate(-50%, -50%);*/
  /*position: absolute;*/
}

.spotifyPlayer {
/*  display: inline-block;
   transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%; */
}